qcadoo-localization/src/main/resources/com/qcadoo/localization/modules/localization.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schema.qcadoo.org/modules/localization" xmlns="http://schema.qcadoo.org/modules/localization" elementFormDefault="qualified">

	<xs:element name="translation">
		<xs:complexType>
			<xs:attribute name="locale" type="xs:string" use="required" />
			<xs:attribute name="resource" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
</xs:schema>